<?php $viewModel = $block->getData('view_model'); ?>

<div data-bind="scope: 'productStockCount'">
	<!--	 ko template: getTemplate() --><!-- /ko-->
</div>
<script type="text/x-magento-init">
{
	"*": {
		"Magento_Ui/js/core/app": {
			"components": {
					"productStockCount": {
						"component": "Training_ProductCount/js/product-count",
						"config": {
							"template": "Training_ProductCount/product-count",
							"url": <?= json_encode($block->getUrl('product_count/availablestock/index')); ?>,
							"sku": "<?= $viewModel->getSku(); ?>",
							"id": <?= $viewModel->getId(); ?>
						}
				}
			}
		}
	}
}
</script>
