<?php $viewModel = $block->getData('view_model'); ?>
<div>
    <form action="<?= $viewModel->getSubmitUrl(); ?>" method="post">
	    <label>Your name:<input type="text" name="test_name"/></label>
        <input type="submit"/>
    </form>
</div>