<div data-bind="scope: 'randomReview'">
<!--	 ko template: getTemplate() --><!-- /ko-->
</div>
<script type="text/x-magento-init">
{
	"*": {
		"Magento_Ui/js/core/app": {
			"components": {
					"randomReview": {
						"component": "Training_Rendering/js/review",
						"config": {
							"template": "Training_Rendering/review",
							"url": <?= json_encode($block->getUrl('training_render/review/index')); ?>
						}
				}
			}
		}
	}
}
</script>