<div class="random-review-box" data-bind="blockLoader: isLoading">
	<h3 data-bind="i18n: 'Random Review'"></h3>
	<div class="random-review">
		<p data-bind="text: reviewerName"/>
		<p data-bind="text: reviewerMessage"/>
	</div>
	<div class="action">
		<button type="button" data-bind="i18n: 'Next Review', click: nextReview"></button>
	</div>
</div>