<div class="product-count-box" data-bind="blockLoader: isLoading">
	<div class="product-count" data-bind="if: isLoaded">
		<h3><span data-bind="i18n: 'Available for sale: '"/><span data-bind="text: productCount"/> pcs.</h3>
	</div>
	<div class="action">
		<button type="button" data-bind="i18n: 'Show available stock', click: showStockAvailable"></button>
	</div>
</div>